<form action="/auth/register" method="POST">
  <label for="username">Username</label>
  <input type="text" name="username" />

  <label for="password">Password</label>
  <input type="password" name="password" />

  <label for="confirmPassword">Confirm password</label>
  <input type="password" name="confirmPassword" />

  <button type="submit">Register</button>
</form>
